button{
  color: darkred;
  background: lavender;
  align-content: center;
  height: 100;
  width: 100;
}
h1{
  font-style: oblique;
  text-align: center;
  font-size: 50:

}
p{
  font-family: fantasy;

}
body{
  background: lightblue;
}
